<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.
    }
    @if (ViewBag.jobs != null)
    {
        @if (ViewBag.jobs.Count == 1)
        {
            <h1>1 Result</h1>
        }
        else 
        { 
            <h1> @ViewBag.jobs.Count Results</h1> 
        };

<table class="job-listing">
    @foreach (var job in ViewBag.jobs)
    {

        <tr>
            <td>
                ID: @job.Id<br>
                Name: @job.Name <br>
                Employer:  <a asp-controller="List" asp-action="Jobs" asp-route-column="employer" asp-route-value="@job.Employer">@job.Employer</a><br>
                Location: <a asp-controller="List" asp-action="Jobs" asp-route-column="location" asp-route-value="@job.Location">@job.Location</a><br>
                Position Type: <a asp-controller="List" asp-action="Jobs" asp-route-column="positionType" asp-route-value="@job.PositionType">@job.PositionType</a><br>
                Skills: <a asp-controller="List" asp-action="Jobs" asp-route-column="coreCompetency" asp-route-value="@job.CoreCompetency">@job.CoreCompetency</a><br>
            </td>

        </tr>
    }
</table>
    }







</div>